<nav style="background-color: black;">
    <div class="row navbar shadow">
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-7">
                    <img class="ml-2" id="u9_img" src="../../../assets/img/cidenet.webp" style="width: 208px; margin-left: 16px;" />
                </div>
                <div class="col-5">
                    <div class="logo">
                        <div style="margin-top: 12px; margin-left: -30px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 text-end ">

            <div class="dropdown">
                <button class="dropdown-toggle" style="background-color: black; color: white; margin-right: 18px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="count"></span>
                    <img class="img-profile rounded-circle" src="../../../assets/img/undraw_profile.svg"
                        style="width: 50px;">
                </button>
            </div>
        </div>
    </div>
</nav>